
.lbl_normal
{
	padding: 2px 4px;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

.txt_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #FFFFFF;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555555;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: gray;
}
.txt_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #E3E3E3;
	border: 1px inset #828282;
	height: 20px;
	color: #222333;
}

.btn_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	height: 22px;
	width:80px;
	background-color: #F7F7F7;
	cursor: pointer;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #3B7394;
	border-right-color: #3B7394;
	border-bottom-color: #3B7394;
	border-left-color: #3B7394;
	color: #00287A;
	background-image: url(../images/btn_normal.jpg);
	background-repeat: repeat-x;
}
.btn_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	height: 22px;
	width:80px;
	background-color: #F7F7F7;
	cursor: pointer;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #3B7394;
	border-right-color: #3B7394;
	border-bottom-color: #3B7394;
	border-left-color: #3B7394;
	color: #00287A;
	background-image: url(../images/btn_normal_dim.jpg);
	background-repeat: repeat-x;
}

.sel_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	height: 22px;
	background-color: #F7F7F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555555;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: gray;
}
.sel_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	height: 22px;
	background-color: #F7F7F7;
	border: 1px solid #555555;
}

.tab_normal
{
}


.grid_title_tr
{
	line-height: 12px;
	font-size: 9pt;
	font-weight: bold;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	color:#FFFFFF;
	background-image: url(../images/title_bg.gif);
	background-repeat: repeat-x;
	height:25px;
}
.grid_title_tr a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.grid_title_tr td{
border-right: 1px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
}
.grid_title_td
{
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
	color: #FFFFFF;
}
.grid_title_td_date
{
	text-align:center;
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
	color: #FFFFFF;
}
.grid_title_td_number
{
	text-align: right;
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
	color: #FFFFFF;
}

.grid_body_tr
{
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	cursor:default;
}
.grid_body_td
{
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}
.grid_body_td_date
{
	text-align:center;
	font-weight: bold;
	color:#25568B;
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}
.grid_body_td_number
{
	text-align: right;
	font-weight: bold;
	color:#25568B;
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}

.tab_head_one
{
	border: 1px lightblue solid;
}
.tab_head_two
{
	border: 1px lightblue solid;
}
.div_detail_grid
{
	height: 370px;
	width: 100%;
	overflow: auto;
	border: solid 1px lightblue;
}