
.lbl_normal
{
	padding: 2px 4px;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

.btn_normal
{
	width: 100%;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	height: 22px;
	background-color: #F7F7F7;
	cursor: pointer;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #3B7394;
	border-right-color: #3B7394;
	border-bottom-color: #3B7394;
	border-left-color: #3B7394;
	color: #00287A;
	background-image: url(../images/btn_normal.jpg);
	background-repeat: repeat-x;
}
.btn_normal_dim
{
	width: 100%;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	background-color: #F7F7F7;
	font-style: normal;
	height: 22px;
	border-bottom-width: 1px;
	border-right-color: #E7E7E7;
	border-right-width: 1px;
	color: #333333;
	background-image: url(../images/btn_normal_dim.gif);
	background-repeat: repeat-x;
}

.sel_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	width: 100%;
	height: 22px;
	background-color: #F7F7F7;
	border: 1px solid lightblue;
}
.sel_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	width: 100%;
	height: 22px;
	background-color: #F7F7F7;
	border: 1px solid lightblue;
}

.tab_normal
{
}

body
{
	background-color: #e7ffff;
}




.grid_title_tr
{
	line-height: 12px;
	font-size: 9pt;
	font-weight: bold;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	background-image: url(../images/grid_title_tr.gif);
	background-repeat: repeat-x;
	color: #000000;
}
.grid_title_td
{
	width: 14%;
	line-height: 12px;
	vertical-align: middle;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	padding: 3px 3px;
	color: #000000;
}
.grid_body_tr
{
	line-height: 12px;
	vertical-align: middle;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	cursor: default;
}
.grid_body_td
{
	width: 14%;
	line-height: 12px;
	vertical-align: middle;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	padding: 3px 3px;
	cursor: default;
}

.div_datepicker_border
{
	border: lightblue 1px solid;
}

.tab_head_one
{
	width: 100%;
	border: 1px lightblue solid;
}

.div_detail_grid
{
	height: 133px;
	width: 100%;
	overflow: hidden;
	border: solid 1px lightblue;
}

.tab_foot_one
{
	width: 100%;
	border: 1px lightblue solid;
}
