
.lbl_normal
{
	padding: 2px 4px;
	font-family: "Arial" , "Helvetica" , "sans-serif";
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

.tab_normal
{
}

body
{
	background-image:url(../images/bg.gif)
}






.grid_title_tr
{
	font-size: 9px;
	height: 22px;
	padding-left: 5px;
	font-family: Verdana,Arial, Tahoma;
	background-color: #3E8EC2;
	color:#FFFFFF;
}
.grid_title_tr a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.grid_title_tr td
{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.grid_title_td
{
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
}
.grid_title_td_date
{
	text-align: center;
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
}
.grid_title_td_number
{
	text-align: right;
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
}

.grid_title_td_checkbox
{
	text-align: right;
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 4px 5px;
}

.grid_body_tr
{
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	cursor: default;
}
.grid_body_td
{
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}
.grid_body_td_date
{
	text-align: center;
	font-weight: bold;
	line-height: 12px;
	color: #25568B;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}
.grid_body_td_number
{
	text-align: right;
	font-weight: bold;
	color: #25568B;
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}

.grid_body_td_checkbox
{
	text-align: right;
	font-weight: bold;
	color: #25568B;
	line-height: 12px;
	vertical-align: middle;
	font-family: Arial, Helvetica, serif;
	font-size: 9pt;
	padding: 4px 5px;
	cursor: default;
}

.div_detail_grid
{
	height: 100%;
	width: 100%;
	overflow: auto;
	border: solid 1px #608EB0;
	/* #81ADDE */
	background-color: #FFFFFF;
}
