body{
	background:url(../../resources/images/welcome-bg.gif) top left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	font-size:13px;
	padding-bottom:15px;
}
a {
	color: #083772;
}
a:link {
	color: #083772;
	text-decoration: none;
}

a:visited {
   color: #1e4e8f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0000CC;
}