.pkg h3 {
    padding-left:34px;
    font:normal 11px verdana,helvetica,tahoma,sans-serif;
    height:18px;
    cursor:pointer;
}
h3.collapser-expanded{
    background: #fff url(../../resources/images/pkg-open.gif) no-repeat 0px -1px;
}
h3.collapser-collapsed {
    background: #fff url(../../resources/images/pkg-closed.gif) no-repeat 0px -1px;
}
.pkg-body{
    margin-left:16px;
    font:normal 11px verdana,helvetica,tahoma,sans-serif;
}
#classes a{
    font:normal 11px verdana,helvetica,tahoma,sans-serif;
    display:block;
    text-decoration:none;
    height:18px;
    color:black;
    background: #fff url(../../resources/images/class.gif) no-repeat 16px -1px;
    padding-left:34px;
    -moz-outline:none;
    outline:none;
	 white-space: nowrap;
}
#classes a:hover{
	text-decoration: underline;
}
#classes a.ex{
    background: #fff url(../../resources/images/example.gif) no-repeat 16px -1px;
}