body{
	background-color:#F2F9FF;
}
td{
	color:#000000;
}
.logo
{
	padding-left:20px; 
}
.navPoint{ CURSOR:pointer; }
.lbl_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.txt_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #FFFFFF;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9EB1B5;
	border-right-color: #9EB1B5;
	border-bottom-color: #9EB1B5;
	border-left-color: gray;
	cursor:text;
}
.txt_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #E3E3E3;
	border: 1px inset #828282;
	height: 20px;
	color: #222333;
	cursor: default;
}

.bbtn_normal
{
	background-color: #FFFFFF;
	width: 20px;
	height: 19px;
	cursor: hand;
	border: 0px;
	background-image: url(../images/bbtn_normal.gif);
}
.bbtn_normal_dim
{
	background-color: #FFFFFF;
	width: 20px;
	height: 19px;
	cursor: default;
	border: 0px;
	background-image: url(../images/bbtn_normal_dim.gif);
}

.dtxt_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	background-color: #F7F7F7;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9EB1B5;
	border-right-color: #9EB1B5;
	border-bottom-color: #9EB1B5;
	border-left-color: gray;
	color: #333333;
	cursor: text;
}
.dtxt_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-weight: bold;
	font-size: 9pt;
	font-style: normal;
	background-color: #D6D3CE;
	border: 1px #555555 solid;
	height: 20px;
	cursor: default;
}
.dbtn_normal
{
	background-color: #FFFFFF;
	width: 20px;
	height: 19px;
	cursor: hand;
	border: 0px;
	background-image: url(../images/dbtn_normal.gif);
}
.dbtn_normal_dim
{
	background-color: #FFFFFF;
	width: 20px;
	height: 19px;
	cursor: default;
	border: 0px;
	background-image: url(../images/dbtn_normal_dim.gif);
}

.btn_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	height: 22px;
	background-color: #F7F7F7;
	cursor: hand;
	border:1px #175961 solid;
	color: #ffffff;
	background-image: url(../images/btn_bg2.gif);
	background-repeat: repeat-x;
}
.btn_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	background-color: #F7F7F7;
	font-style: normal;
	height: 22px;
	border-bottom-width: 1px;
	border-right-color: #E7E7E7;
	border-right-width: 1px;
	color: #333333;
	background-image: url(../images/btn_normal_dim.gif);
	background-repeat: repeat-x;
	cursor: default;
}

.ntxt_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #F7F7F7;
	height: 20px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9EB1B5;
	border-right-color: #9EB1B5;
	border-bottom-color: #9EB1B5;
	border-left-color: gray;
	color: #333333;
	cursor: text;
}
.ntxt_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-weight: bold;
	background-color: #E3E3E3;
	border: 1px inset #828282;
	height: 20px;
	color: #222333;
	cursor:	default;
}

.rdo_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.rdo_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.chk_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
}
.chk_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.sel_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	height: 22px;
	background-color: #F7F7F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9EB1B5;
	border-right-color: #9EB1B5;
	border-bottom-color: #9EB1B5;
	border-left-color: gray;
}
.sel_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	height: 22px;
	background-color: #F7F7F7;
	border: 1px solid #555555;
}

.rmk_normal
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9EB1B5;
	border-right-color: #9EB1B5;
	border-bottom-color: #9EB1B5;
	border-left-color: #9EB1B5;
	cursor: text;
}
.rmk_normal_dim
{
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	font-size: 9pt;
	font-style: normal;
	background-color: #E3E3E3;
	border: 1px inset #828282;
	color: #222333;
	cursor: default;
}

.lbtn_normal
{
	background-color: #FFFFFF;
	width: 21px;
	height: 20px;
	cursor: hand;
	border: 1px solid #666666;
	background-image: url(../images/lbtn_normal.jpg);
	background-repeat: no-repeat;
}
.lbtn_normal_dim
{
	background-color: #cccccc;
	width: 21px;
	height: 20px;
	cursor: hand;
	border: 0px;
	border: 1px solid #666666;
	background-repeat: no-repeat;
	background-image: url(../images/lbtn_normal_dim.gif);
}

.tab_normal
{
}

body
{
	background-image:url(../images/bg.gif)
}





td
{
	padding-top: 3px;
	font-size: 9pt;
}
.tbborder td
{
	border-top-width: 2px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color:#9EB1B5;
	border-right-color: #9EB1B5;
}

.page_title
{
	left:0px;
	top:0px;
	/*display: block;*/
	text-align:right;
	font-weight: bold;
	font-size: 9pt;
	color: #25568B;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	vertical-align: middle;
	padding-bottom: 2px;
	padding-top:6px;
	float:right;
	padding-right:20px;
}
.button_frame
{
	text-align:left;
	font-weight: bold;
	font-size: 9pt;
	color: #25568B;
	font-family: "Arial","Tahoma","Arial Narrow","Verdana";
	vertical-align: middle;
	border:solid 1px #3E8EC2;
	padding-top:3px;
	padding-bottom:5px;
	background-image:url(../images/bg.gif);
}



#footer {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	text-align: center;
	
	color:#646464;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:150%;
}

.copyright {

}